.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: .3em;
}

.container>div {
    background: rgba(133, 131, 131, 1);
    padding: 1em;
}

.container>div:nth-child(odd) {
    background: rgba(211, 207, 208, 1)
}